node_modules
package-lock.json
/dist

/tests/e2e/videos/
/tests/e2e/screenshots/

# Cypress Junk
/cypress/

# local env files
.env.local
.env.*.local
.nyc_output
./logs

# Log files
npm-debug.log*
yarn-debug.log*
/log

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
/.old/
sonarlint
.vagrant

# Typescript Debug Files
*.js.map

# Web Storm Clutter
.idea
.env
/logs/combined-logs.json
/logs/error-logs.json
yarn.lock

# Compiler clutter
/.cache/

# VS Code Settings
.vscode
LICENSE
