# Source Files
**/src/**/*

# NPM / PNP
.pnp.*

# Linting / Formatting
eslint.config.*
.editorconfig

# Yarn
.gitattributes
.yarnrc.yml
**/.yarn/**/*
.yarn

# moon
.moon/cache
.moon/docker
**/moon.yml

# Node
node_modules
**/node_modules/**/*

# Git
**/.git/**/*

# git-chglog
.chglog

# vscode
.vscode
**/.vscode/**/*

# Typescript
**/*.tsbuildinfo
**/tsconfig.json

# ASDF
**/.tool-versions
